@font-face {
  font-family: Archia;
  src: url(../fonts/Archia-Regular.otf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: ArchiaBold;
  src: url(../fonts/Archia-Bold.otf);
  font-style: normal;
  font-weight: 400;
}

:root {
  --black: #0000;
  --white: #ffffff;
  --red20: #e42229;
  --red10: #9f1217;
  --yellow20: #ffba00;
  --yellow10: #cb7c05;
  --gray40: #e5e5e5;
  --gray30: #d4d3d6;
  --gray20: #9e9e9f;
  --gray10: #7b7b7b;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Archia", sans-serif;
  background: var(--white);
}

h2 {
  font-family: "ArchiaBold", sans-serif;
  font-size: 32px;
  color: var(--red20);
}

p {
  color: var(--gray10);
  font-size: 16px;
  line-height: 27px;
}

.wrapper {
  max-inline-size: 1059px;
  margin: auto;
  padding: 0 15px;
}

/* SOCIAL MEDIA - SLOGAN */
.social-media-content {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media-content li {
  position: relative;
  display: inline-block;
  font-size: 30px;
}

.social {
  margin: 14px 0 14px 0;
}

.social a {
  padding-right: 21px;
  color: var(--red20);
}

.social a:hover {
  color: var(--red10);
}

.slogan {
  font-size: 18px;
  color: #000;
}

/* HEADER */
.header {
  background-color: var(--red20);
  position: sticky;
  top: 0;
  height: 68px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

.logo img {
  height: 60px;
}

.menu-items li {
  list-style: none;
}

.menu-items a {
  color: var(--white);
  text-decoration: none;
  padding: 20px;
}

.menu-items a:hover {
  color: black;
  background-color: var(--yellow20);
  padding: 20px;
}

.active {
  color: black;
  background-color: var(--yellow20);
  padding: 20px;
}

/* SECTION 01 */

.slide {
  background: url(../images/estudiante_fondo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.items {
  display: flex;
  height: 540px;
}

.slide-content {
  display: flex;
  align-items: center;
}

.title {
  font-family: "ArchiaBold", sans-serif;
  width: 564px;
  font-weight: bold;
  font-size: 72px;
  line-height: 70px;
  color: var(--white);
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

/* SECTION 02 */
.niveles-content {
  display: flex;
  text-align: center;
}

.box-inicial {
  background: var(--yellow20);
  height: 209px;
  width: 33.33%;
  border-bottom-left-radius: 50px;
}

.box-inicial img {
  padding-top: 24px;
}

.box-inicial p {
  font-family: "ArchiaBold", sans-serif;
  font-size: 30px;
  padding-top: 10px;
  color: var(--yellow10);
}

.box-primaria {
  background: var(--red20);
  height: 209px;
  width: 33.33%;
}

.box-primaria img {
  padding-top: 24px;
}

.box-primaria p {
  font-family: "ArchiaBold", sans-serif;
  font-size: 30px;
  padding-top: 10px;
  color: var(--red10);
}

.box-secundaria {
  background: var(--gray30);
  height: 209px;
  width: 33.33%;
  border-bottom-right-radius: 50px;
}

.box-secundaria img {
  padding-top: 24px;
}

.box-secundaria p {
  font-family: "ArchiaBold", sans-serif;
  font-size: 30px;
  padding-top: 10px;
  color: var(--gray20);
}

/* SECTION 03 */
.about-content {
  padding-top: 58px;
  padding-bottom: 149px;
}

.about-content p {
  padding-top: 49px;
}

/* SECTION 04 */
.services-content {
  padding-top: 10px;
  padding-bottom: 57px;
}

.services-items {
  width: 253px;
}

.services-content h2 {
  padding-bottom: 24px;
}

/* SECTION 05*/
.filosofia {
  padding-top: 149px;
  padding-bottom: 37px;
  background: var(--gray40);
}

.filosofia-content p {
  width: 800px;
}

/* SECTION 06 */
.benefit {
  background: var(--gray40);
}

.benefit-content h2 {
  padding-bottom: 11px;
}

.benefit-content p {
  padding-bottom: 50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 80px;
}

.row-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--white);
  border-radius: 15px;
  width: 233px;
  height: 165px;
  margin-bottom: 36px;
}

.row-item h3 {
  font-size: 14px;
  padding-top: 19px;
  color: var(--red20);
}

/* SECTION 05 */
.banner-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.banner-content p {
  font-size: 24px;
  font-family: "ArchiaBold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.banner-content-box01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--yellow20);
  width: 33.33%;
  height: 58px;
}

.banner-content-box01 p {
  color: #000;
}

.banner-content-box02 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--red20);
  width: 33.33%;
  height: 58px;
}

.banner-content-box02 p {
  color: white;
}

.banner-content-box03 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--gray30);
  width: 33.33%;
  height: 58px;
}

.banner-content-box03 p {
  color: #000;
}

/* SECTION 06 */
.cursos-content {
  display: flex;
  flex-wrap: wrap;
}

.cursos-content-items02 img {
  padding-top: 70px;
  padding-left: 87px;
}

.cursos-content-items02 h2 {
  width: 298px;
  padding-left: 87px;
  font-size: 32px;
}

.cursos-content-items02 ul {
  list-style: square url(../images/icon/check.svg) inside;
  padding-top: 32px;
  padding-left: 55px;
  padding-bottom: 56px;
  color: var(--gray10);
}

.cursos-content-items02 li::marker {
  font-size: 2rem;
}

.cursos-content-items02 li {
  border-bottom: 1px solid var(--gray10);
}
