@font-face {
  font-family: Archia;
  src: url(../fonts/Archia-Regular.otf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: ArchiaBold;
  src: url(../fonts/Archia-Bold.otf);
  font-style: normal;
  font-weight: 400;
}

:root {
  --black: #0000;
  --white: #ffffff;
  --red20: #e42229;
  --red10: #9f1217;
  --yellow20: #ffba00;
  --yellow10: #cb7c05;
  --gray40: #e5e5e5;
  --gray30: #d4d3d6;
  --gray20: #9e9e9f;
  --gray10: #7b7b7b;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Archia", sans-serif;
  background: var(--white);
}

h2 {
  font-family: "ArchiaBold", sans-serif;
  font-size: 32px;
  color: var(--red20);
}

p {
  color: var(--gray10);
  font-size: 16px;
  line-height: 27px;
}

.wrapper {
  max-inline-size: 1059px;
  margin: auto;
  padding: 0 15px;
}

/* SOCIAL MEDIA - SLOGAN */
.social-media-content {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media-content li {
  position: relative;
  display: inline-block;
  font-size: 30px;
}

.social {
  margin: 14px 0 14px 0;
}

.social a {
  padding-right: 21px;
  color: var(--red20);
}

.social a:hover {
  color: var(--red10);
}

.slogan {
  font-size: 18px;
  color: #000;
}

/* HEADER */
.header {
  background-color: var(--red20);
  position: sticky;
  top: 0;
  z-index: 999;
}

/*header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

.logo img {
  height: 60px;
}

.menu-items li {
  list-style: none;
}

.menu-items a {
  color: var(--white);
  text-decoration: none;
  padding: 20px;
}

.menu-items a:hover {
  color: black;
  background-color: var(--yellow20);
  padding: 20px;
}

.active {
  color: black;
  background-color: var(--yellow20);
  padding: 20px;
} */

/* SECTION 01 */
.slide {
  background: url(../images/estudiante_fondo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.items {
  display: flex;
  height: 540px;
}

.slide-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  font-family: "ArchiaBold", sans-serif;
  width: 564px;
  font-weight: bold;
  font-size: 72px;
  line-height: 70px;
  color: var(--white);
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.form-slide {
  background: var(--red20);
  border-radius: 36px;
  padding: 32px;
  width: 384px;
}

.form-slide p {
  color: white;
  padding-bottom: 16px;
}

input[type="text"],
[type="email"] {
  font-family: "ArchiaBold", sans-serif;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--yellow20);
  color: var(--white);
  border-radius: 50px;
  box-sizing: border-box;
  background: transparent;
}

input[type="submit"] {
  width: 100%;
  background-color: var(--yellow20);
  font-size: 18px;
  color: var(--red20);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--yellow10);
  color: var(--white);
}

::placeholder {
  color: var(--white);
}

:focus {
  outline: none;
}

/* SECTION 02 */
.niveles-content {
  display: flex;
  text-align: center;
}

.box-inicial {
  background: var(--yellow20);
  height: 209px;
  width: 33.33%;
  border-bottom-left-radius: 50px;
}

.box-inicial img {
  padding-top: 24px;
}

.box-inicial p {
  font-family: "ArchiaBold", sans-serif;
  font-size: 30px;
  padding-top: 10px;
  color: var(--yellow10);
}

.box-primaria {
  background: var(--red20);
  height: 209px;
  width: 33.33%;
}

.box-primaria img {
  padding-top: 24px;
}

.box-primaria p {
  font-family: "ArchiaBold", sans-serif;
  font-size: 30px;
  padding-top: 10px;
  color: var(--red10);
}

.box-secundaria {
  background: var(--gray30);
  height: 209px;
  width: 33.33%;
  border-bottom-right-radius: 50px;
}

.box-secundaria img {
  padding-top: 24px;
}

.box-secundaria p {
  font-family: "ArchiaBold", sans-serif;
  font-size: 30px;
  padding-top: 10px;
  color: var(--gray20);
}

/* SECTION 03 */
.about-content {
  padding-top: 58px;
  padding-bottom: 149px;
}

.about-content p {
  padding-top: 49px;
}

/* SECTION 04 */
.services-content {
  padding-top: 10px;
  padding-bottom: 57px;
  display: flex;
  justify-content: space-between;
  height: 250px;
}

.services-items {
  width: 253px;
}

.services-content h2 {
  padding-bottom: 24px;
}

/* SECTION 05*/
.filosofia {
  padding-top: 149px;
  padding-bottom: 37px;
  background: var(--gray40);
}

.filosofia-content p {
  width: 800px;
}

/* SECTION 06 */
.benefit {
  background: var(--gray40);
}

.benefit-content h2 {
  padding-bottom: 11px;
}

.benefit-content p {
  padding-bottom: 50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 80px;
}

.row-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--white);
  border-radius: 15px;
  width: 233px;
  height: 165px;
  margin-bottom: 36px;
}

.row-item:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.row-item h3 {
  font-size: 14px;
  padding-top: 19px;
  color: var(--red20);
}

/* SECTION 05 */
.banner-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.banner-content p {
  font-size: 24px;
  font-family: "ArchiaBold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.banner-content-box01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--yellow20);
  width: 33.33%;
  height: 58px;
}

.banner-content-box01 p {
  color: #000;
}

.banner-content-box02 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--red20);
  width: 33.33%;
  height: 58px;
}

.banner-content-box02 p {
  color: white;
}

.banner-content-box03 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--gray30);
  width: 33.33%;
  height: 58px;
}

.banner-content-box03 p {
  color: #000;
}

/* SECTION 06 */
.cursos-content {
  display: flex;
  flex-wrap: wrap;
}

.cursos-content-items01 {
  background: url(../images/estudiante.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 50%;
}

.cursos-content-items02 {
  width: 50%;
}

.box-items02 {
  width: 500px;
}

.cursos-content-items02 img {
  padding-top: 70px;
  padding-left: 87px;
}

.cursos-content-items02 h2 {
  width: 298px;
  padding-left: 87px;
  font-size: 32px;
}

.cursos-content-items02 ul {
  list-style: square url(../images/icon/check.svg) inside;
  padding-top: 32px;
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 56px;
  color: var(--gray10);
}

.cursos-content-items02 li::marker {
  font-size: 2rem;
}

.cursos-content-items02 li {
  border-bottom: 1px solid var(--gray10);
}

/* SECTION 07 */
.messages-content {
  height: 503px;
  display: flex;
}

.messages-box01 {
  width: 50%;
}

.messages-box01-content {
  width: 400px;
  padding-left: 25%;
}

.messages-box01-content h3 {
  font-size: 26px;
  color: var(--red20);
}

.messages-box01-content .grado-comment {
  font-size: 26px;
  padding-top: 5px;
  color: var(--gray10);
}

.messages-box01 img {
  padding-top: 56px;
  padding-bottom: 30px;
}

.messages-box01 p {
  font-size: 16px;
}

.comment {
  width: 358px;
  padding-bottom: 44px;
}

.messages-box02 {
  width: 50%;
}

.grado-content button {
  font-family: "Archia", sans-serif;
  width: 33%;
  height: 58px;
  border: none;
  font-size: 24px;
  margin: 0%;
  padding: 0;
  cursor: pointer;
}

button.button-study {
  background: var(--yellow20);
}

button.button-teacher {
  background: var(--red20);
  color: var(--white);
}

button.button-personal {
  background: var(--gray30);
  color: #000;
}

video {
  width: 100%;
  height: auto;
}
/* .imagen-slider {
  height: 445px;
  background: url(../images/estudiante02.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

/* .grado-content {
  display: flex;
  height: 58px;
}

.grado-content-box01 {
  background: var(--yellow20);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  height: 100%;
}

.grado-content-box01 p {
  color: #000;
  font-size: 24px;
}

.grado-content-box02 {
  background: var(--red20);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
}

.grado-content-box02 p {
  color: var(--white);
  font-size: 24px;
}

.grado-content-box03 {
  background: var(--gray30);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
}

.grado-content-box03 p {
  color: #000;
  font-size: 24px;
} */

/* SECTION 08 */
.college {
  height: 433px;
  background: var(--red20);
}

.row-college {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 61px;
}

.box-logo {
  padding-right: 57px;
}

.row-college .description-college {
  font-size: 32px;
  color: var(--white);
  padding-top: 36px;
}

.box-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--red10);
  border-radius: 10px;
  text-align: center;
  width: 236px;
  height: 324px;
}

.box-items:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.box-items img {
  padding-top: 36px;
}

.box-items .number {
  color: var(--white);
  font-family: "ArchiaBold", sans-serif;
  font-size: 48px;
  padding-top: 20px;
}

.box-items .tittle {
  color: var(--white);
  font-family: "ArchiaBold", sans-serif;
  font-size: 18px;
  padding-top: 18px;
  font-weight: 600;
  width: 180px;
}

.box-items .description {
  color: var(--white);
  font-size: 12px;
  padding-top: 23px;
  line-height: 15px;
  width: 161px;
}

/* SECTION 09 */
.events {
  height: 509px;
}

.events-content {
  display: flex;
  justify-content: space-between;
  padding-top: 93px;
}

.row-events .subtittle {
  width: 253px;
  padding-top: 16px;
}

.row-events .button {
  padding-top: 40px;
}

.row-events .details-events {
  padding-top: 40px;
}

.row-events a {
  text-decoration: none;
  font-family: "ArchiaBold", sans-serif;
  background-color: var(--red20);
  padding: 8px 15px;
  border-radius: 50px;
  color: var(--white);
}

.row-events a:hover {
  text-decoration: none;
  font-family: "ArchiaBold", sans-serif;
  background-color: var(--red10);
  padding: 8px 15px;
  border-radius: 50px;
  color: var(--white);
}
.row-events h3 {
  color: var(--red20);
  padding-top: 19px;
  font-family: "ArchiaBold", sans-serif;
}

.row-events .details-events {
  display: flex;
  justify-content: space-between;
  padding: 9px 0;
}

.details-events i {
  color: var(--yellow20);
  font-weight: 600;
  padding-right: 7px;
  padding-bottom: 9px;
}

.btn-event {
  padding-top: 8px;
}

.btn-event a {
  padding: 8px 16px;
  border: 2px solid var(--red20);
  background: var(--white);
  color: var(--red20);
}

.btn-event a:hover {
  background: var(--red20);
  color: var(--white);
}

/* FOOTER */
.footer {
  background: var(--red20);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 516px;
}

.footer-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: var(--white);
}

.footer .social-media-content {
  padding-bottom: 27px;
}

.footer-name p {
  color: var(--red20);
  font-size: 18px;
}

.footer-contact a {
  color: var(--yellow20);
}

.footer-contact a:hover {
  color: var(--white);
}

.footer .tittle {
  font-weight: bold;
  font-size: 18px;
}

.footer-contact p {
  color: var(--white);
  font-size: 14px;
  width: 250px;
  line-height: 20px;
  padding-bottom: 20px;
}

.btn-alumni {
  background: var(--yellow20);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
}

.btn-alumni a {
  text-decoration: none;
  color: var(--red20);
  font-family: "ArchiaBold", sans-serif;
  font-size: 18px;
}

/* CARRUSEL */
/* ======================================================== */
#carrusel {
  float: left;
  width: 710px;
  overflow: hidden;
  height: 400px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

#carrusel .left-arrow {
  position: absolute;
  left: 600px;
  z-index: 1;
  top: 50%;
  margin-top: 130px;
  color: var(--white);
  font-size: 42px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#carrusel .left-arrow:hover {
  color: var(--red20);
}

#carrusel .right-arrow {
  position: absolute;
  right: 1px;
  z-index: 1;
  top: 50%;
  margin-top: 130px;
  color: var(--white);
  font-size: 42px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#carrusel .right-arrow:hover {
  color: var(--red20);
}

.carrusel {
  width: 4000px;
  left: 0px;
  position: absolute;
  z-index: 0;
}

.carrusel > div {
  float: left;
  height: 293px;
  margin-right: 16px;
  width: 225px;
  text-align: center;
  background: var(--red20);
  border-radius: 20px;
}

.carrusel img {
  padding-top: 30px;
  padding-bottom: 20px;
}

.carrusel p {
  color: var(--white);
  padding: 0 15px;
}

.box-services {
  width: 198px;
}

/* .carrusel img {
  cursor: pointer;
} */
