@font-face {
  font-family: Archia;
  src: url(../fonts/Archia-Regular.otf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: ArchiaBold;
  src: url(../fonts/Archia-Bold.otf);
  font-style: normal;
  font-weight: 400;
}

:root {
  --black: #0000;
  --white: #ffffff;
  --red20: #e42229;
  --red10: #9f1217;
  --yellow20: #ffba00;
  --yellow10: #cb7c05;
  --gray40: #e5e5e5;
  --gray30: #d4d3d6;
  --gray20: #9e9e9f;
  --gray10: #7b7b7b;
}

body {
  font-family: "Archia", sans-serif;
  background: var(--white);
  margin: 0;
}

.wrapper {
  max-inline-size: 1059px;
  margin: auto;
}

/* DEGUB */
section {
  border: 1px solid transparent;
}

/* BUTTONS SOCIAL MEDIA - SLOGAN */
.social-media-content {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social {
  margin: 14px 0 14px 0;
  padding: 0;
}

.social a {
  color: var(--red20);
}

.social a:hover {
  color: var(--red10);
}

.buttons-social-media li {
  position: relative;
  display: inline-block;
  font-size: 30px;
}

.buttons-social-media a {
  padding-right: 21px;
}

.slogan p {
  font-size: 18px;
}

/* HEADER */
.header {
  background: var(--red20);
  position: sticky;
  top: 0;
}

.header-items {
  height: 68px;
  background: var(--red20);
}

.logo img {
  padding-top: 7px;
  height: 57px;
}

/* SECTION 01 */
.slide {
  background: url(../images/estudiante_fondo.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 540px;
}

.title {
  font-family: "ArchiaBold", sans-serif;
  width: 564px;
  font-weight: bold;
  font-size: 72px;
  line-height: 70px;
  color: var(--white);
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

/* .menu-items li {
  position: relative;
  display: inline-block;
}

.container-items {
  display: flex;
}

.logo img {
  padding-top: 7px;
  height: 60px;
}

.menu-items {
  display: flex;
  justify-content: space-between;
}

.menu-items a {
  color: var(--white);
  text-decoration: none;
}

.menu-items a:hover {
  color: #000;
  background: var(--yellow20);
  padding: 20px;
} */
